.navbar{
    width: 30vw;
}

.navbar__chats{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90vh;
    overflow-y: auto;
}

.navbar__chats::-webkit-scrollbar{
    background-color: var(--honeydew);
}
